<div class="container">
<%= provide(:title, "Login") %>
<br>
<br>
<br>
<br>
<br>


<!-- <h4>Log in</h4> -->

<div class="row">
 <div class="col-md-6 col-md-offset-3">
   <%= form_tag login_path do %>

     <%= label_tag :username %>
     <%= text_field_tag :username %>

     <%= label_tag :password %>
     <%= password_field_tag :password %>

     <%= submit_tag "login", class: "btn btn-primary"%>
   <% end %>



    <p>New user? </p><a href="<%= signup_path %>" class="btn btn-primary pulse">Sign up now!</a>
 </div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
