<!-- <%#= button_to "Create Meetup", new_meetup_path, method: 'get' %> -->

<br>
<%= form_tag meetups_path, method: 'get' do %>
    <%= label_tag "Search groups by category" %>
    <%= text_field_tag :category %>

    <a class="waves-effect waves-light btn"><%= submit_tag "Search" %></a>
<% end %>


<div class="card center-align">
  <h2>Explore All Meetups</h2>
</div>


  <% @meetups.reverse.each do |meetup| %>
  <div class="card center-align">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"><b><%= meetup.name %></b></h5>
    <p class="card-text"><strong>Location: </strong><%= meetup.location %></p>
    <p class="card-text"><strong>About: </strong><%= meetup.description %></p>
    <a href="<%= meetup_path(meetup) %>" class="btn btn-primary pulse">Explore</a>
  </div>
  <div class="card-footer text-muted">
  </div>
  </div>
  <% end %>
